<!-- 发票 -->
<div class="undlenavbar">
  <br>
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading" style="text-align:center"><h2>发票信息</h2></div>
        <div class="panel-body">
          <h5>发票类型：电子发票</h5>
          <h5>发票抬头：<label><input type="checkbox" name="check">个人</label><label><input type="checkbox" name="check">单位</label></h5>
          <h5>发票内容：购买商品明细
        </div>
      <div class="panel-footer"><h6>电子发票是税务局认可的有效收付款凭证，可作为售后服务凭据。电子发票打印后可用于企业报销。</h6></div>
    </div>
  </div>
  <!-- 订单详情 -->
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading" style="text-align:center"><h2>账单明细</h2></div>
        <div class="panel-body">
          <table class="table" >
              <tr>
                <th >商品明细</th>
                <th>单价</th>
                <th>数量</th>
              </tr>
              <% current_cart.cart_items.each do |cart_item| %>
              <tr>
                <td>
                  <%= link_to(cart_item.product.title, product_path(cart_item.product)) %>
                </td>
                <td>
                  <%= cart_item.product.price %>
                </td>

                <td>
                  <%= cart_item.quantity %>
                </td>
              </tr>
              <% end %>
          </table>
        </div>
      <div class="panel-footer" style="text-align:right">
          <i class="fa fa-usd" aria-hidden="true"></i><%= render_cart_total_price(current_cart) %> 
      </div>
    </div>
  </div>
  <!-- 收货详情 -->
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading" style="text-align:center"><h2>收货地址</h2></div>
        <div class="panel-body">
          <div class="order-form">
                    <%= simple_form_for @order do |f| %>
                    <legend> 订购人 </legend>
                <div class="form-group col-lg-4">
                <%= f.input :billing_name, placeholder: '请输入订购人姓名', input_html: {value: current_user.name}, :label => '订购人'  %>
                </div>

                <div class="form-group col-lg-4">
                 <%= f.input :billing_address, placeholder: '请输入订购人通讯地址', input_html: {value: current_user.address}, :label => '通讯地址'  %>
                </div>

                    <legend> 收货人 </legend>
                <div class="form-group col-lg-4">
                  <%= f.input :shipping_name,label:"收件人" %>
                </div>

                <div class="form-group col-lg-4">
                  <%= f.input :phone ,label:"联系方式"%>
                </div>

                <div class="form-group col-lg-4">
                  <%= f.input :shipping_address ,label:"收件地址"%>
                </div>

                <div class="checkout">
                  <%= f.submit "生成订单", class: "btn btn-lg btn-danger pull-right",
                              data: { disable_with: "Submitting..."} %>
                </div>
                <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
