
<div class="container-fluid login">
  <div class="section section-full-screen section-signup">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="panel panel-default">
            <div class="panel-body">

                <h2 class="signin  text-center">邮箱登陆</h2>
                <div class="content">
                  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <div class="form-inputs">
                      <%= f.input :email, label_html: { class: "sr-only"}, input_html: { placeholder: "邮箱"}, required: false, autofocus: true %>
                      <%= f.input :password, label_html: { class: "sr-only"}, input_html: { placeholder: "密码"}, required: false %>
                      <%= f.input :remember_me, label: "记住我", as: :boolean if devise_mapping.rememberable? %>
                    </div>

                    <div class="form-actions text-center">
                      <%= f.button :submit, "登 陆" %>
                    </div>
                  <% end %>
                </div>

              <div class="text-center"><%= render "devise/shared/links" %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
