
<div id="band" class="container">
  <div class="row">
    <div class="col-sm-4">
    <% @products.each do |product| %>

      <%= link_to product_path(product) do %>
      <% if product.image.present? %>
      <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
      <% else %>
      <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
      <% end %>
      <% end %>
      <strong>  <%= product.title %> </strong><br>
     ¥ <%= product.price %><br>
<button class="btn">查看详情</button>
    </div>
    <% end %>
  </div>
</div>
