<link rel="stylesheets" type="text/css" href="style_common.css" />
<div class="undlenavbar">
  <div class="col-md-10 col-md-offset-1" >
      <div class="panel panel-default">
          <div class="panel-heading">
            <ul>
              <%= link_to("价格低到高", products_path(:order => "by_price_low"), class: "btn btn-default") %>
              <%= link_to("价格高到低", products_path(:order => "by_price_high"), class: "btn btn-default") %>
            </ul>
          </div>
          <div class="panel-body" style="background-color:#1f1f1f; color:white;">
              <% @products.each do |product| %>
                <div class="col-md-4">
                  <div class="view view-third">
                    <% if product.photos.empty? %>
                      <%= image_tag("http://placehold.it/400x400&text=No Pic") %>
                    <% else %>
                      <%= image_tag(product.photos[0].avatar.thumb.url) %>
                    <% end %>
                      <div class="mask">
                        <h2> <%= product.title %> </h2><br>
                        <p>  $:<%= product.price %> </p>
                     <%= link_to("查看详情",  product_path(product),  :class => "info") %>
                      </div>
                  </div>
                </div>
              <% end %>
          </div>
      </div>
  </div>
</div>
